# Assignment #1

### Title of the Notebook: Data Science

In this notebook we will do our first Assignment that has been given by Coursera.

Language:
1. Python
2. R

### Data Science Libraries:
1. Pandas
2. Numpy
3. Matpplotlib
4. Scikit Learn
5. Scipy

### DATA SCIENCE TOOLS

#### Arithematic Expressions Intro:
Arithmetic expressions are formed by combination of Arithematic operands. Hence there are 5 basic arithematic operands -,+,X,/,%.

In [1]:
a= 5
b= 4
mult=a*b
add=a+b
print("Multiplication: ",mult)
print("Addition: ",add)

Multiplication:  20
Addition:  9

#### Hours to Minutes:

In [2]:
hours = 5
mints = 5*60
print("Hours-to-minutes:",mints )

Hours-to-minutes: 300

This is the introductory sentence of the ex 10 
Unordered list= [2,1,3,2,1,0,-1,20,90,-1]

##### Authorâ€™s Name: SAIF ALI